body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;    
    height:600px; 
    border-radius:5px;
    padding:15px;
    outline: none;
    border-style: solid;
    border-color: #EEEEEE;
}

textarea:hover {
    outline: none;
    box-shadow:0 0 0.5px 0.5px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-color: #EEEEEE;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    border-top-right-radius: 40px;
}

.sidebar h2 {
    margin-top: 5px;
}


.search:hover {
    outline: none;
    box-shadow:0 0 0.5px 0.5px;
}

.title_bar{
margin-bottom:10px; 
border-radius:5px; 
width:80%; 
padding:5px; 
padding-left:10px;
outline: none;
border-style: solid;
border-color: #EEEEEE;
}

.title_bar:hover {
    outline: none;
    box-shadow:0 0 0.5px 0.5px;
}

.buttons{
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    outline: none;
    border-color: #EEEEEE;    
}

.buttons:hover {
    outline: none;
    box-shadow:0 0 0.5px 0.5px;
}