.search_form {
    justify-content:center;
    align-items: center;
}

.search_box {
    margin-top: 40px;
    border-radius: 40px;
    padding:15px;
    background-color: #ffffff;
    background-image: url("search.png");
    background-position: 7px 12px;
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 40px;
    outline: none;
    border-style: solid;
    border-color: #EEEEEE;
}

.search_box:hover {
    outline: none;
    box-shadow:0 0 0.5px 0.5px;
}

.buttons {
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    outline: none;
    border-color: #EEEEEE;
    margin-top: 30px;
    margin-left: 5px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons:hover {
    outline: none;
    box-shadow:0 0 0.5px 0.5px;
}

.logo {
    margin-top: 185px;

}

.links {
    padding: 10px;
    font-family: sans-serif;
}

a:link {
    text-decoration: none;
    padding: 0px 10px;
}

.red_text {
    color: red;
    font-family: sans-serif;
    font-size: large;
    padding: 30px;
    padding-bottom: 20px;
}

.ruler {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-width: 1px;
}

.small_logo {
    width:90px;
    padding: 0px 0px;
    margin: 10px

}

.text_box {
    padding-top: 10px;
    margin-top: 15px;
    background-repeat: no-repeat;
    outline: none;
    border-style: solid;
    border-color: #EEEEEE;
    width:100%;
}

.text_box:focus {
    color: blue;
    outline: none;
    box-shadow:0 0 0.5px 0.5px;
}

.gen_text {
    font-family: sans-serif;
    font-size: small;
    padding-left: 15px;
}

.my_header {
    font-family: sans-serif;
    font-size: medium;
    padding-left: 30px;
    padding-top: 30px;
    height: 30px;
    line-height: 30px;
}

.blue_button{
    justify-content:center;
    align-items: center;
    outline: none;
    border-color: #EEEEEE;
    margin-top: 15px;
    margin-left: 5px;
    padding: 7px;
    color: white;
    background-color: #4194cb;
    font-size: 10px;
}

p {
    padding-top: 7px;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    padding: 1px;
  
  }
  
  .left{
     width: 12%;

  }
  
  .right {
    width: 53%;
  }

  .middle {
    width: 35%;
    padding-right: 70px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }